# dependencies
node_modules/

# next.js build output
.next/
out/
build/

# environment & secrets (Neon, Strapi, API açarları) — Mərhələ 2
.env
.env.local
.env*.local

# vercel
.vercel

# logs & misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
*.tsbuildinfo
